#Start of Assignment 3

In [32]:
import pandas as pd
import numpy as np

data = pd.read_csv('data.csv')
print(data)

   Airline           City  On time  Delayed
0   Alaska    Los Angeles      497       62
1   Alaska        Phoenix      221       12
2   Alaska      San Diego      212       20
3   Alaska  San Francisco      503      102
4   Alaska        Seattle     1841      305
5  AM West    Los Angeles      694      117
6  AM West        Phoenix     4840      415
7  AM West      San Diego      383       65
8  AM West  San Francisco      320      129
9  AM West        Seattle      201       61

In [56]:
LADelay = 0
for index, row in data.iterrows():
    if index == 0 and row.item():
        print(row)
    if index == 'City' and row == 'Los Angeles':
        print(row)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [21]:
np.sum(data,axis=0)

ï»¿Airline    AlaskaAlaskaAlaskaAlaskaAlaskaAM WestAM WestAM...
City          Los AngelesPhoenixSan DiegoSan FranciscoSeattl...
On time                                                    9712
Delayed                                                    1288
dtype: object

In [ ]:
data.groupby['Airline']